html,
body {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: linear-gradient(
      225deg,
      rgb(253, 197, 197) 25.447%,
      rgba(242, 152, 222, 0) 100%
    ),
    linear-gradient(
      225.29deg,
      rgb(255, 165, 165) 32.964%,
      rgba(255, 255, 255, 0) 82.031%
    ),
    rgb(243, 148, 148);
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  color: rgb(51, 51, 51);
}
.enter {
  color: rgb(8, 159, 224);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.acc {
  color: rgb(102, 102, 102);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.company::placeholder {
  color: rgb(51, 51, 51);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.company {
  background-color: rgb(255, 255, 255);
}
.italic::placeholder {
  color: rgb(153, 153, 153);
  font-family: Open Sans;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.backcolor_grey {
  background: rgb(245, 245, 245);
}
.but {
  background-color: rgb(8, 159, 224);
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.check {
  background-color: rgb(245, 245, 245);
}
.read {
  color: rgb(102, 102, 102);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.terms {
  color: rgb(8, 159, 224);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
